params {
    outdir = 'results'
}
env {
    TMPDIR="/tmp"
    PYTHONPATH="$projectDir/../src"
}

profiles{
    standard {
        executor 
        {
            name = 'local'
            queueSize = 5 
            cpus = 10 
            pollInterval = '30 sec'
        }
        process {
            // conda = "$CONDA_PREFIX"
            // conda = "/local/projects-t3/toconnor_grp/bing.guo/miniconda3/envs/simulation"

            errorStrategy = {task.attempt < 5 ? 'retry': 'finish'}
            maxRetries = 5
            cpus = 1
            memory = '15 GB'

            withName: "SIMULATE_CHR" {
                memory = '15 GB'
                cpus = 2
            }
            withName: "CALL_IBDNE|CALL_HAPIBD" {
                cpus = 5 
                memory = {def mem = 5 * 2 ** task.attempt; mem > 100 ? '100 GB' : "$mem GB"}
            }
        }
    }
    sge {
        executor {
            name = 'sge'
            queueSize = 400
            pollInterval = '30 sec'
        }

        process {
            // Note vscode tend to put tmp files in root of conda env and cause
            // Nextflow to generate new hashes. Two workaround:
            // 1. If `conda` directive is used, ensure the all `.tmp*` files is delete from the conda environment
            // 2. If `conda` directive is not use, just make sure nextflow is available
            // in current environment

	    // comment out as vscode tends to add tmp file in conda env root dir, which 
            // change hashes for conda env
            // conda = "/local/projects-t3/toconnor_grp/bing.guo/miniconda3/envs/simulation"

            errorStrategy = { sleep(Math.pow(2 , task.attempt) * 20 as long); return task.attempt < 5 ? 'retry': 'finish'}
            maxRetries = 5
            cpus = 3
            memory = '20 GB'
            cache = 'lenient'

            queue = "threaded.q"
            penv = "thread"
            clusterOptions = "-P toconnor-lab -cwd -V"
        
            withName: "SIMULATE_CHR" {
                memory = '20 GB'
                cpus = 3
            }
            withName: "CALL_IBDNE|CALL_IBD_ISORELATE" {
                cpus = 5 
                memory = {def mem = 20 * 2 ** task.attempt; mem > 100 ? '100 GB' : "$mem GB"}
            }
       }
    }
}

manifest {
    name            = 'trueibd'
    author          = 'Bing Guo'
    homePage        = 'https://github.com/gbinux/trueibd'
    description     = 'Nextflow IBD analyses pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '0.1'
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    fields = 'task_id,hash,name,status,exit,realtime,%cpu,rss,workdir'
}
